body,pre {margin: 10px 300px 100px 300px;}
.top {margin-left: 95%;}
a:visited {text-decoration:	none;}
a.content {text-align:center;}
h2,h3 {text-align: center;}
.copy-button{
	position: absolute;
	right: 301px;
	margin-top: -15px;
	border-bottom-left-radius: 5px;
	background-color: gray;
}